.error-msg { border: 1px solid #ca6d00; padding: 2px 2px 2px 5px; background-color: #ffae4e; color: Black; font-weight: bold; font-size: 11pt; margin-bottom: 2px; line-height: 25px;}
.doc-image{width:40px; height:40px;}
