<div class="create-email" #scrollIdTarget [@filterAnimation]="showAnimation">
  <fieldset>
    <legend>Create Note</legend>
    <div class="email-module">
      <div class="text-right" *ngIf="isLeadTask == true">
        <button class="btn btn-primary task-btn-margin" (click)="addNewHandler()"><i class="fa fa-plus"></i> Add New</button>
      </div>
      <form class="form-horizontal required-section" *ngIf="showNoteForm || isLeadTask == false" [formGroup]="noteForm" (ngSubmit)="noteFormSubmit()">
        <div class="lead-wraper-section">
          <div class="wraper-main-section">
            <div class="global-card-section">
              <div class="create-note-header">
                <div class="global-header-section">
                  <div class="svg-icon-panel">Create Note</div>
                  <div class="header-button-panel">
                    <div class="button-wrapper">
                      <button type="button" (click)="onCloseNote();" class="icon-btn">
                        <i class="fas fa-times"></i>
                        <span class="btn-text">Close</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="global-body-section">
                <div class="margin-all-area">
                  <div class="templates-alignment">
                    <div class="full-width-container">
                      <div class="form-group">
                        <span class="control-label" for="dateTime">Date/Time</span>
                        <div>
                          <kendo-datetimepicker [format]="datePickerformat" formControlName="noteDateTime"></kendo-datetimepicker>
                        </div>
                      </div>
                    </div>
                    <div class="full-width-container margin-left10">
                      <div class="form-group">
                        <span class="control-label" for="noteType">Note Type</span>
                        <div>
                          <select id="noteType" class="form-control" formControlName="noteType">
                            <option value="null" [selected]="true">-None Selected-</option>
                            <option *ngFor="let noteCode of noteTypeCodes" [value]="noteCode.noteTypeCode">{{ noteCode.display }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="full-width-container margin-left10">
                      <div class="form-group">
                        <span class="control-label" for="subject">Subject</span>
                        <div [ngClass]="{'has-error': noteFrm.subject.errors && (noteFrm.subject.touched ||  noteFrm.subject.dirty)}">
                          <input type="text" id="subject" class="form-control" formControlName="subject" placeholder="subject" />
                        </div>
                        <div class="search-query-error" *ngIf="noteFrm.subject.errors && ( noteFrm.subject.touched ||  noteFrm.subject.dirty)">
                          <div *ngIf="noteFrm.subject.errors.required">Please enter a subject.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="templates-alignment">
                    <div class="full-width-container">
                      <div class="form-group">
                        <span class="control-label" for="note">Note</span>
                        <div [ngClass]="{'has-error': noteFrm.note.errors && (noteFrm.note.touched ||  noteFrm.note.dirty)}">
                          <textarea id="note" class="form-control contact-text-auto-height" row="1" cols="1" formControlName="note" placeholder="note"></textarea>
                        </div>
                        <div class="search-query-error" *ngIf="noteFrm.note.errors && ( noteFrm.note.touched ||  noteFrm.note.dirty)">
                          <div *ngIf="noteFrm.note.errors.required">Please describe the history item.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="templates-alignment">
                    <div class="full-width-container">
                      <div class="bottom-panel">
                        <button class="btn btn-primary" [hidden]="roleFeaturePermissions?.create == false || roleFeaturePermissions?.edit == false" [disabled]="isNoteSubmit" type="submit"> Save</button>
                        <button class="btn btn-cancel" type="button" (click)="isLeadTask == false ? onCloseNote() : onCancel()"> {{isLeadTask == false ? 'Close' : 'Cancel'}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="grid-wrapper" *ngIf="isLeadTask == true">
      <kendo-grid class="create-note-grid" #grid id="gridId"
        [kendoGridBinding]="noteList"
        [pageSize]="10" [pageable]="{buttonCount:10, pageSizes:[10,50,100,200]}">
        <div class="grid-scroll-bar">
          <kendo-grid-column *ngFor="let column of columns"
            [field]="column.field"
            [title]="column.title | titlecase"
            [width]="column.width">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <div class="customer-name" *ngIf="column.field == '$'">{{ rowIndex+1 }}</div>
              <div class="customer-name" *ngIf="column.field == 'noteSubject'">   {{ dataItem[column.field] }}</div>
              <div class="customer-name" *ngIf="column.field == 'noteDesc'">
                {{ dataItem[column.field] }}
              </div>
              <div class="customer-name" *ngIf="column.field == 'noteTypeCode'">   {{ dataItem[column.field] > 0 ? getType(dataItem[column.field]) : '-None Selected-' }}</div>
              <div class="customer-name" *ngIf="column.field == 'dtCreated'">{{dataItem[column.field] |  date: 'MM/dd/yyyy'}}</div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="" width="60">
            <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-rowIndex="rowIndex">
              <a [hidden]="roleFeaturePermissions?.edit == false" title="Edit task" (click)="noteGridCRUD('edit', dataItem, rowIndex);"><i class="fas fa-pencil-alt"></i></a>
            </ng-template>
          </kendo-grid-column>
        </div>
      </kendo-grid>
    </div>
  </fieldset>
</div>
