.fa-check{font-size: 16px; color: green;}
.imp-notes{padding:2px 0px 2px 0px; background: #ffebcc;}
.imp-sub-notes{padding:2px 0px 2px 5px; background: #FFFFCC;width: 100%; margin: 0;}
.to-title{margin:3px 0px 3px 0px;}
.smallred {  font-weight: bold; font-size: 9px !important; color: red !important;}

