<div class="create-email">
  <fieldset>
    <legend>Contact Information</legend>
    <div class="contact-detail-module">
      <div class="email-module">
        <div>
          <div class="flex-row">
            <div>
              <div>
                <div class="contact-page-panel">
                  <div>
                    <form [formGroup]="contactForm" (ngSubmit)="contactFormSubmit()">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
