<div class="container-fluid">
    <div class="password-policy-section">
        <div class="header-table-section">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">                    
                    <div class="header-table-panel">
                        <h2> Password Policy Configuration</h2>
                    </div>                    
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <mat-form-field>
                        <mat-label class="pass-company">Company...</mat-label>
                        <input matInput (keyup)="applyFilterTemplateConfiguration($event.target.value)" placeholder="Search by Company..." type="search">
                        <mat-icon matSuffix class="pass-srch">search</mat-icon>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="table-grid-panel">
                    <div class="mat-container mat-elevation-z2">
                        <table mat-table [dataSource]="dataSource" #dataSort="matSort" matSort>
                            <ng-container class="for-pass-id" matColumnDef="clpcompanyId" >
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="for-pass-id"> ID </mat-header-cell>
                                <mat-header-cell mat-cell *matCellDef="let element" class="for-pass-id"> {{element.clpCompanyId}} </mat-header-cell>
                            </ng-container>

                            <ng-container matColumnDef="companyName">
                                <mat-header-cell *matHeaderCellDef class="table-th-header pass-company" mat-sort-header> Company </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="table-th-header">
                                    <span class="mobile-label">Company</span>
                                    <div class="company-label">
                                        {{element.companyName}}
                                    </div>
                                </mat-cell>                                
                            </ng-container>

                            <ng-container matColumnDef="minLength">
                                <mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The minimum length of the password">Length</span>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element" (click)="editRow(element.clpCompanyId)">
                                    <span class="mobile-label">Length</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.minLength}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="minLength_{{element.clpCompanyId}}"
                                           [value]="element.minLength" maxlength="2" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="specialCharCount">
                                <mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The minimum number of special characters in the password">Special Characters</span>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Special Characters</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.specialCharCount}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="specialCharCount_{{element.clpCompanyId}}"
                                            [value]="element.specialCharCount" maxlength="1" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="digitCount">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The minimum number of digits in the password">Digits</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Digits</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.digitCount}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="digitCount_{{element.clpCompanyId}}"
                                           [value]="element.digitCount" maxlength="1" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="capitalCount">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header><span title="The minimum number of uppercase letters in the password">Uppercase</span></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Uppercase</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.capitalCount}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="capitalCount_{{element.clpCompanyId}}"
                                           [value]="element.capitalCount" maxlength="1" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="smallAlphabetCount">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header><span title="The minimum number of lowercase letters in the password">Lowercase</span></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Lowercase</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.smallAlphabetCount}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="smallAlphabetCount_{{element.clpCompanyId}}"
                                           [value]="element.smallAlphabetCount" maxlength="1" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="expiration">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The number of days before the password expires">Expiration (days)</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Expiration (days)</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.expiration}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="expiration_{{element.clpCompanyId}}"
                                           [value]="element.expiration" maxlength="3" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="pwdReuseCount">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The number of previous passwords the user cannot reuse">Prevent Previous</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Prevent Previous</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.pwdReuseCount}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="pwdReuseCount_{{element.clpCompanyId}}"
                                           [value]="element.pwdReuseCount" maxlength="2" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="maxFailedAttempts">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The maximum number of failed attempts before the user gets locked out">Attempts before Lockout</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Attempts before Lockout</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.maxFailedAttempts}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="maxFailedAttempts_{{element.clpCompanyId}}"
                                           [value]="element.maxFailedAttempts" maxlength="1" (keypress)="allowNumeric($event);" (keyup)="changeMaxFailedAttempt(element.clpCompanyId);" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="maxPwdChangeInDay">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The maximum number of times a user can change a password in one day">Daily Changes</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Daily Changes</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.maxPwdChangeInDay}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="maxPwdChangeInDay_{{element.clpCompanyId}}"
                                           [value]="element.maxPwdChangeInDay" maxlength="1" (keypress)="allowNumeric($event)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="lockOutDuration">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="password" mat-sort-header>
                                    <span title="The number of minutes the user remains locked out before being allowed to log back in">Lockout Duration (minutes)</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Lockout Duration (minutes)</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.lockOutDuration}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="lockOutDuration_{{element.clpCompanyId}}"
                                           [value]="element.lockOutDuration" maxlength="3" (keypress)="allowNumeric($event)" [disabled]="maxFailedAttemptsValue==0" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="isMFAEnabled">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="mfa" mat-sort-header><span title="Enable or disable Multi-Factor Authentication">MFA Enabled</span></mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <span class="mobile-label">MFA Enabled</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.isMFAEnabled==true?'yes':'no'}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="checkbox" id="mfaEnable_{{element.clpCompanyId}}"
                                           [checked]="element.isMFAEnabled" (change)="changeMFAEnable(element.clpCompanyId)" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mfaMethod">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="mfa" mat-sort-header><span title="The method of communicating the Multi-Factor Authentication">Method</span></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Method</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.isMFAEnabled==false?'N/A':(element.mfaMethod==0?'SMS':(element.mfaMethod==1?'Email':'Both'))}}</label>
                                    <select *ngIf="element.clpCompanyId==editRowID" class="custom-select" id="mfaMethod_{{element.clpCompanyId}}" name="mfaMethod_{{element.clpCompanyId}}" [disabled]="isMFAEnabled==false">
                                        <option [value]="-1" [selected]="!element.isMFAEnabled || element.mfaMethod==-1">-Select-</option>
                                        <option [value]="0" [selected]="element.isMFAEnabled && element.mfaMethod==0">Text</option>
                                        <option [value]="1" [selected]="element.isMFAEnabled && element.mfaMethod==1">Email</option>
                                        <option [value]="2" [selected]="element.isMFAEnabled && element.mfaMethod==2">both</option>
                                    </select>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="mfaExpiration">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="mfa" mat-sort-header>
                                    <span title="The number of days before the saved device token expires and the user has to re-authenticate">Expiration (days)</span>
                                </mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Expiration (days)</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.isMFAEnabled==false?'N/A':element.mfaExpiration}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="mfaExpiration_{{element.clpCompanyId}}"
                                           [value]="element.mfaExpiration" (keypress)="allowNumeric($event)" [disabled]="isMFAEnabled==false" maxlength="2" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="maxMFADevicesAllowed">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="mfa" mat-sort-header><span title="The maximum number of devices the user can use SalesOptima with">Devices</span></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element">
                                    <span class="mobile-label">Devices</span>
                                    <label *ngIf="element.clpCompanyId!==editRowID">{{element.isMFAEnabled==false?'N/A':element.maxMFADevicesAllowed}}</label>
                                    <input *ngIf="element.clpCompanyId==editRowID" type="text" class="form-control" id="maxMFADevicesAllowed_{{element.clpCompanyId}}"
                                           [value]="element.maxMFADevicesAllowed" maxlength="1" (keypress)="allowNumeric($event)" [disabled]="isMFAEnabled==false" />
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <mat-header-cell mat-header-cell *matHeaderCellDef class="pass-action"><span>Action</span></mat-header-cell>
                                <mat-cell mat-cell *matCellDef="let element" >
                                    <span class="mobile-label">Action</span>
                                    <div class="grid-action-icon">
                                      <i *ngIf="element.clpCompanyId==editRowID" class="fa fa-save btn-square-md form-group-btn" (click)="updatePasswordPolicy(element.clpCompanyId)" title="save"></i>
                                      <i *ngIf="element.clpCompanyId!=editRowID" class="fa fa-pencil btn-square-md form-group-btn" (click)="editRow(element.clpCompanyId)" title="Edit"></i>
                                      <i *ngIf="element.clpCompanyId==editRowID" class="fas fa-times btn-square-md form-group-btn" (click)="resetGrid()" title="cancel"></i>
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row mat-row *matRowDef="let row; columns: displayedColumns;" (click)="highlight(row)" [style.background]="highlightedRows.indexOf(row) != -1 ? 'rgb(169 218 255)' : ''"></mat-row>
                        </table>

                    </div>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 500]" [pageSize]="pageSize" (page)="pageEvent = handlePage($event)" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!--Password Administrator-->
    <div class="password-dministrator-table">
        <div class="password-policy-section">
            <div class="header-table-section">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="header-table-panel">
                            <h2> Password Administrator</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <mat-form-field>
                            <mat-label class="pass-administrator-company">Company or Username...</mat-label>
                            <input #matInputSearchPA matInput (keyup)="applyFilterPA($event.target.value)" placeholder="Search by Company or Username..." type="search">
                            <mat-icon matSuffix class="pass-administrator-srch">search</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="table-grid-panel">
                        <div class="mat-container mat-elevation-z2">
                            <table mat-table [dataSource]="dataSourceClpUser" #userSort="matSort" matSort>

                                <ng-container matColumnDef="clpUserId" class="for-pass-administrator-id" >
                                    <mat-header-cell mat-header-cell *matHeaderCellDef class="for-pass-administrator-id"> ID </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element" class="for-pass-administrator-id"> {{element.clpUserId}} </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="companyName">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef class="table-th-header text-left" mat-sort-header> Company </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element" class="table-th-header">
                                        <span class="mobile-label">Company</span>
                                        {{element.companyName}}
                                    </mat-cell>

                                </ng-container>

                                <ng-container matColumnDef="userName">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef class="table-th-header text-left" mat-sort-header> Username </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element" class="table-th-header">
                                        <span class="mobile-label">Username</span>
                                        <span *ngIf="element.firstName">{{element.firstName}}&nbsp;</span>
                                        <span *ngIf="element.lastName">{{element.lastName}}&nbsp;</span>
                                        <span *ngIf="element.userName">({{element.userName}})</span>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="isPasswordAdmin">
                                    <mat-header-cell mat-header-cell *matHeaderCellDef class="justify-content-center" mat-sort-header>Administrator </mat-header-cell>
                                    <mat-cell mat-cell *matCellDef="let element" class="text-center">
                                        <input type="checkbox" id="forIsPA" [checked]="element.isPasswordAdmin" (change)="updateClpUser_PA(element.cLPUserID)" [disabled]="adminDisable == true" />
                                    </mat-cell>
                                </ng-container>

                                <tr mat-row *matRowDef="let row; columns: displayedColumnsClpUser;" [style.background]="row.isPasswordAdmin == true ? 'rgb(169 218 255)' : ''"></tr>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsClpUser; sticky: true"></tr>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-bottom"></div>
</div>


